body{
	background-image:url("../images/bg-about-temp.jpg");
	overflow:auto;
}

header{
	color:white
}

iframe{
	display:block;
	margin:auto;
	opacity:1;
	width:100%;
	height:380px;
}

/* #couverture{
	max-height:1000px;
	height:750px;
} */





@media only screen and (min-width : 1000px)
{

	header{
		height:150px;
	}

	iframe{
		height:65%;
	}

	#addnew{
		display:none;
	}

	#group1{
		clear:both;
		display:flex;
		width:100%;
		/* padding-top:100px; */
		/*border-style:solid;*/
	}

	#group1 .banner:first-of-type{
		width:45%;
	}

	#group1 .banner:nth-of-type(2){
		width:35%;
	}

	.banner:first-of-type{
		margin-top:100px;
	}

}/*
