/* body{
	background-image:url("../images/bg-about-temp.jpg");
	filter:grayscale(100%);
} */

header{
	background-image:url("../images/team.jpg");
	background-position:center;
	min-height:550px;
	filter:grayscale(100%);
	/* filter:opacity(0.7); */
}



header h1{
	margin-top:200px;
}

#team{
	max-width:1200px;
	margin:auto;
}
