input, textarea{
	width:100%;
	padding:12px;
	margin-bottom:10px;
}



#message{
  height:250px;
}

.loginDiv {
	float:left;
	padding-left:50px;
}

.loginHeaderDiv {
	width:310px;
	line-height:27px;
	color:white;
	font-weight:bold;
	font-size:13px;
	text-align:center;
	background-image: url('../images/border-top.png');
	background-position: 0px 50%;
	background-repeat:no-repeat;
}

.loginFormDiv {
	border:1px solid #aaaaaa;
	padding:10px;
	padding-bottom:0px;
	min-height:200px;
}

.line{
	display:flex;

}

lab{
	width:50%;

}

.field{
	width:100%;
	color:black;
}

.submit{
	width:40%;
	height:50px;
	color:black;
}

.sel{
	width:25%;
	height:30px;
	margin-bottom:25px;
}
