@font-face{font-family:'roboto';
	src:url(../fonts/Roboto-Condensed.ttf);}

@font-face{font-family:'roboto-light';
	src:url(../fonts/Roboto-Light.ttf);}

@font-face{font-family:'roboto-thin';
	src:url(../fonts/Roboto-Thin.ttf);}

a{
	color:black;
	font-family:roboto;
	font-size:20px;
}

body{

	margin:0px;
	padding:0px;
	font-size:22px;
	height:18px;
	font-family:roboto;
	/* background-image:url("../images/bg3.png"); */
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	/*color:white;*/

	overflow-x:hidden;
}

h1{
	font-size:48px;
	text-align:center;
}

header{
	min-height:370px;
	/*background-color:cyan;*/
	/*background-image:url("../images/bg2.png");*/
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

	overflow:hidden;
}

header img{
	display:block;
	margin:auto;
}

.banner{
	width:100%;
	padding-top:30px;
	padding-bottom:40px;
	/*border-radius:10px;*/
	background-color:white;
	opacity:0.8;
	color:black;

}

.buildspace{

	height:100px;

}

.media-description{
	margin-top:5px;
	font-size:18px;
}


@media only screen and (min-width : 850px)
{

	.banner{
		opacity:0.7;
		width:70%;
		border-radius:10px;
		display:block;
		margin:auto;
		margin-bottom:50px;
		padding:30px;
	}

	.banner h1{
		font-family:roboto-thin;
		font-size:50px;
	}

}
