iframe{
  width:100%;
  height:100%;
}


#intro-video{
  display:block;
  margin:25px;

  min-height:325px;

}

#header-video{
  display:none;
}

#news{
  margin-top:25px;
  min-height:500px;
  overflow:hidden;
}

#news iframe{
  /* position:fixed; */
  display:block;
  max-width:340px;
  margin:auto;
  /* margin-left:75px; */
}

#team-photo{
  width:100%;
  min-height:50%;
}

.chevrons{
  display:none;
}


@media only screen and (min-width : 1000px)
{
  header h1{
    top: 50%;
  }

  #title-Logo{
    top: 35%;
  }

  #chevron1{
    top: 84%;
  }

  #chevron2{
    top: 87%;
  }

  #group1{
		clear:both;
		display:flex;
		width:100%;
    margin:auto;
    margin-bottom:100px;
    max-width:1350px;
		padding-top:100px;
		/*border-style:solid;*/
	}

  #header-video{
    position:inherit;
    min-width:100%;

    /*min-height:100%;*/
    /*right:0;*/
    /*bottom:0;*/

    overflow: hidden;
    z-index: -1;

    display:block;
    margin:auto;

    z-index:2;

    opacity:0.5;
  }

  #intro-video{
    width:60%;
    height:500px;
  }

  #news{
    width:40%;
    margin-top:0;
    margin-left:50px;
  }

  #team-photo{
    width:100%;
    height:110%;
  }

  .buildspace{
    display:none;
  }

  .chevrons{
    height:50px;
    min-width:160px;
    opacity:0.4;
    display:block;
    transition:all 0.7s ease;
  }

  .chevrons:hover{
    opacity:1;
  }

  .header-content{
    position: absolute;

    z-index: 10;

    left: 50%;
    transform: translate(-50%,-50%);
  }

}


@media only screen and (min-width : 1350px)
{

  /* #group1{

    padding-left:10%;
    padding-right:10%;
  } */


}
