h2{
	clear:both;
}

.membre{

	width:100%;
	/* margin:auto; */

	margin-bottom:5em;

	transition:all 0.3s ease;

	position:relative;

	text-align:center;

}


.membre img{

	/* width:100%; */



}

.photo{

	min-height:80%;
	width:80%;
	margin-top:5%;
	margin-bottom:5%;

	border-radius:50%;
}

.membre-overlay{

	position:absolute;
	top:12px;
	bottom:57px;
	left:17px;
	right:12px;

	background-color:gray;
	color:white;
	opacity:0;

	transition:all 0.3s ease;

}


.membre-overlay:hover{

	opacity:1;
}

.membre-overlay:hover table{
	display:flex;
}

.membre-overlay a{

	color:white;
}

.membre-overlay img{

	max-width:50px;
	max-height:50px;

}

.membre-overlay table{

	margin:auto;
	display:none;

}

.membre-overlay tr{

	max-width:70px;

}

.membre-overlay td{

	max-width:200px;
	color:white;

}



@media only screen and (min-width : 850px)
{

	#membres{

		clear:both;
	}

	.membre{

		float:left;

		height:10em;
		width:10em;



	}

	/* .membre img{

		height:80%;
		width:80%;
		margin-top:10%;

		border-radius:50%;
	} */

	.membre-overlay{

		bottom:12px;

	}

	.membre-overlay td{

		font-size:20px;

	}

	.membre-overlay img{

		width:30px;
		height:30px;
		border-radius:0%;

	}

}
