nav{

	border-radius:0;
	height:3em;
	padding:0.3em;
	/*border-bottom:1px solid;*/
	display:block;
	float:right;

	position:fixed;
	right:0;
	left:0;
	font-size:16px;
	background-color:black;
	color:white;
	z-index:100;

	display:flex;

	opacity:0.9;

}

nav a{
	color:white;
	text-decoration:none;
	transition:all 0.5s ease;
}

nav a:hover{
	opacity:0.6;
	text-decoration:underline;
}

nav p{
	font-size:40px;
	font-family:roboto;
	text-align:left;
	color:white;
	margin:auto;
}

nav ul{



	display:flex;
	margin:auto;
	margin-top:15px;
	margin-left:190px;
	font-size:16px;

	transition:all 0.5s ease;




}

nav li{


	margin-left:25px;
	list-style: none;
	/*width:100%;*/


}



nav img{

	position:absolute;
	left:55px;

	height:3em;
}

#largemenu{

	/* opacity:1; */
	display:none;
	position:absolute;
	top:5px;
	right:20px;
	/*right:130px;*/
}

#largemenu ul{
	display:flex;

}

#largemenu li{

	margin-left:20px;
	/*width:70px;*/
	height:40px;
	border-radius:10px;
}

/* ------------------//MENU\\-------*/

.hamburger input{

	opacity:0;
	z-index:2;
	position:absolute;

	width:25px;
	height:45px;

}

input:checked~div:first-of-type{
	transform:rotate(-315deg) translate(6.5px, 1px);
	width:30px;


}

input:checked~div:nth-of-type(2){

	transform:rotate(-180deg) translate(-30px);
	width:25px;
	opacity:1;

}

input:checked~div:nth-of-type(3){

	transform:translateY(-20px) rotate(-400deg);
	width:30px;

}

input:checked~ul:first-of-type{


	transform:translate(0px);

}

input:checked~.hamburger{

	transform:translateY(-20px);
}

.bar{

	width:25px;
	height:1px;
	margin-bottom:5px;
	background-color:white;
	border-color:white;
	border-style:solid;
	border-radius:10px;
	transition:all 0.5s ease;

	transform-origin:4px 0px;

	z-index:1;
	color:black;

}

.bar:first-of-type{


}

.hamburger{

	width:500px;
	height:100px;
	position:absolute;
	top:16;
	left:10px;



	/*background-color:cornflowerblue;*/

}

.hamburger ul{

	margin-top:57px;
	margin-left:0;
	padding-left:0;
	padding-right:1em;
	position:fixed;
	left:0;
	top:0;
	bottom:0;

	display:block;

	background-color:black;

	font-family:roboto;
	font-size:32px;
	text-align:center;

	transform:translate(-230px);



}

.hamburger li{

	margin-top:15px;

}

/* --------------------//FIN MENU\\------*/

/* SOUS-MENUS */

li:hover{

	cursor:pointer;

}

li:hover ul{

	min-height:130px;
	/*background-color: green;*/
	color:black;

}

li ul{

	/*display: flex;*/
	/*flex-wrap:wrap;*/



}



/* FIN SOUS-MENUS */

@media only screen and (min-width : 1000px)
{


	.hamburger{

		left:-100px;

	}

	.hamburger ul{
		display:none;
	}

	#largemenu{

		/* opacity:1; */
		display:flex;
	}

	nav img{

		left:5px;
	}

	nav{
		display:flex;
	}

}
