#headcase{
  height:200px;
}

.case{
  background-color:blue;
  text-align:center;
  margin:30px;
  padding-top:50px;
  opacity:0.5;
  transition:all 0.7s ease;
}

.case:hover{
  opacity:1;
  /* transition:all, 0.3s, ease; */
}

.sujet1{
  background-color:red;
}

.sujet2{
  background-color:green;
}

.sujet3{
  background-color:black;
}
