header{
	background-color:red;
}

main{
	max-width:1200px;
	margin:auto;

}

.partenaires{
	display:block;
	margin:auto;
}

.partenaire img{
	max-width:300px;
	margin:auto;
}

@media only screen and (min-width : 1000px)
{
	.partenaires{
		text-align:center;
		display:flex;
	}



}
